<div id="sub-nav">
  <div id="buscador">
    <label id="buscar" for="busqueda">Buscar:</label>
    <input
      id="buscado"
      type="text"
      name="busqueda"
      [(ngModel)]="this.busqueda"
      (input)="filtrar()"
      [disabled]="loading"
    />
    <div id="filtroFechas">
      <div id="fecha">
        <label>Inicio: </label>
        <input
          type="date"
          max="{{ this.fechas.fin }}"
          [(ngModel)]="fechas.inicio"
          (keydown)="$event.preventDefault()"
          (input)="filtrar()"
          [disabled]="loading"
        />
      </div>
      <div id="fecha">
        <label>Fin: </label>
        <input
          type="date"
          max="{{ this.fechas.fin }}"
          [ngModel]="fechas.fin | date : 'yyyy-MM-dd' : 'UTC'"
          (ngModelChange)="fechas.fin = $event"
          (keydown)="$event.preventDefault()"
          (input)="filtrar()"
          [disabled]="loading"
        />
      </div>
    </div>
  </div>
  <button id="btn-agregar" (click)="agregarEvento()" [disabled]="loading">➕</button>
</div>
@if (loading) {
<h1 id="loading"><span class="loader"></span></h1>
} @else {
<div class="grid-container">
  @for (evento of eventosFiltrados; track $index) {
  <div class="col">
    <div class="card text-center">
      <div (click)="editarEvento(evento)">
        <img [src]="evento.s3keyvalue" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ evento.titulo }}</h5>
          <p class="card-text">{{ evento.resumen }}</p>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Publicado {{ evento.fecha }}</small>
        <div id="btns">
          @if (evento.active) {
            <button id="btn-desactivar" (click)="desactivarEvento(evento)">🟠</button>

          } @else {
            <button id="btn-activar" (click)="activarEvento(evento)">🟢</button>
          }
          <button id="btn-eliminar" (click)="eliminarEvento(evento)">🔴</button>
        </div>
      </div>
    </div>
  </div>
  }
</div>
}
