<div id="buscador">
  <label for="busqueda">Buscar:</label>
  <input type="text" name="busqueda" (input)="filtrar($event)">
</div>
<div class="grid-container">
  @for (evento of eventosFiltrados; track $index) {
    <div class="col">
      <div class="card text-center" (click)="open(evento)">
        <img src="noimage.jpg" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">{{evento.titulo}}</h5>
          <p class="card-text">{{evento.resumen}}</p>
        </div>
        <small class="card-footer text-muted">Publicado {{evento.fecha}}</small>
      </div>
    </div>
  }
</div>
