<nav class="navbar">
  <div class="logo">
    <img src="assets/logoNextStep.jpg" class="image-logo" alt="">       
    <div class="">
        <h1 class="text-logo">NextStep</h1>
    </div>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/admin-dashboard/noticias" routerLinkActive="active">Noticias</a></li>
    <li><a routerLink="/admin-dashboard/oportunidades" routerLinkActive="active">Oportunidades</a></li>
    <li><a routerLink="/admin-dashboard/encuestas" routerLinkActive="active">Encuestas</a></li>
    <li><a routerLink="/admin-dashboard/egresados" routerLinkActive="active">Egresados</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>