.card {
  border-color: transparent;
  min-height: 100%;
  width: 100%;
}

.card .row {
  min-height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  position: relative;
  margin-left: .5rem;
  border-left: .1rem solid #000000;

  #cerrarModal {
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    background-color: rgb(249, 62, 62);
    color: #000000;
    border-width: 0;
    border-radius: 0.375rem;
    font-size: .9rem;
    font-weight: 700;
    transition: all .2s ease-in-out;
    padding: .1rem .5rem;

    &:hover {
      cursor: pointer;
      color: #ffffff;
      transform: scale(1.05);
    }
  }

  .datos {
    margin-bottom: 1rem;

    h5 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    h6 {
      font-size: 1.25rem;
      font-weight: 500;
    }

    h5,
    h6,
    #description {

      h5,
      h6,
      #description {
        width: 100%;
        text-align: start;
        margin-bottom: .5rem;
      }

      #description {
        max-height: 55vh;
        overflow: scroll;

        ::ng-deep>* {
          margin-bottom: .25rem;
        }

        ::ng-deep img {
          max-width: 100%;
          max-height: 10rem;
        }

        ::ng-deep img {
          max-width: 100%;
          max-height: 10rem;
        }

        ::ng-deep a {
          color: #3333FF;
        }

        ::ng-deep ul {
          list-style: square;
          padding-left: 2rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.card-body>.card-text {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imagen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 63vh;
}
