<div class="modal-body">
  <div class="card mb-3">
    <div class="row g-0">     
      <div class="col-md-12">
        <div class="card-body">
          <div class="datos">           
            <h5 class="card-title text-center">{{ evento.titulo }}</h5>
            <h6 class="card-text">{{ evento.resumen }}</h6>                   
            <div class="col-md-12 imagen">
              <img [src]="evento.s3key" class="card-img" />
            </div>          
            <div id="description" [innerHTML]="evento.descripcion"></div>
          </div>
          <p class="card-text">
            <small class="text-muted">Publicado {{ evento.fecha }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
