.card {
  border-color: transparent;
}

.card-body {
  display: flex;
  flex-direction: column;
  > * {
    margin: .2rem 0;
  }
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imagen {
  position: relative;
}

textarea {
  resize: vertical;
  border: .1rem solid #000000;
}

input {
    border: .1rem solid #000000;
}

.file-input {
  display: none;
}

#btn-image {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  border: none;
  background: none;
  width: fit-content;
  font-size: 1.2rem;
}

.btns {
  display: flex;
  flex-direction: row;
  > button {
    margin: auto .1rem;
  }
}
