.card {
  border-color: transparent;
  min-height: 100%;
  width: 100%;
}

.card .row {
  min-height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  position: relative;

  .editables {
    margin-bottom: 1rem;

    label {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: .2rem;

      p {
        width: 25%;
        text-align: start;
      }

      input,
      textarea {
        width: 75%;
      }

      textarea {
        resize: vertical;
        border: .1rem solid #000000;
      }
    }
  }
}

.card-text {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imagen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 63vh;
}

input {
  border: .1rem solid #000000;
}

.file-input {
  display: none;
}

#btn-image {
  margin: .5rem auto;
  padding: .25rem;
  color: #FFFFFF;
  background-color: #00008a;
  border: .05rem solid #ffffff;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
}

#btn-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#errorMessage {
  display: none;
  color: red;
  text-align: center;
  bottom: 0;
  font-weight: 700;
  font-size: .9rem;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  >button {
    margin: auto .1rem;
    padding: .1rem;
    border: .1rem solid #000000;
    border-radius: 10px;
  }

  #save {
    background-color: green;
    color: white;
    transition: all .2s ease-in-out;
  }

  #cancel {
    background-color: red;
    color: white;
  }

  #save:hover,
  #cancel:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
