<div class="modal-body">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-5 imagen">
        <img
          [src]="eventoModal.s3keyvalue"
          id="img"
          alt="Imagen"
          class="card-img"
          (load)="this.updateOverlay()"
        />
      <div class="col-md-5 imagen">
        <img
          [src]="eventoModal.s3keyvalue"
          id="img"
          alt="Imagen"
          class="card-img"
          (load)="this.updateOverlay()"
        />
        <input
          type="file"
          class="file-input"
          accept="image/png, image/jpeg, image/jpg"
          (change)="onFileSelected($event)"
          id="fileUpload"
          #fileUpload
        />
        <div id="img-overlay" (click)="fileUpload.click()">Subir Imagen</div>
        <p id="errorMessage">
          La imagen no debe superar los {{ this.maxAllowedSize / 1024 }}KB y
          debe ser .png, .jpg o .jpeg.
        </p>
        <p id="errorMessage">
          La imagen no debe superar los {{ this.maxAllowedSize / 1024 }}KB y
          debe ser .png, .jpg o .jpeg.
        </p>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <div id="editables">
          <div id="editables">
            <label for="titulo">
              <p>Titulo:</p>
              <input
                type="text"
                name="titulo"
                [(ngModel)]="eventoModal.titulo"
              />
            </label>
            <label for="resumen">
              <p>Resumen:</p>
              <textarea
                name="resumen"
                rows="2"
                [(ngModel)]="eventoModal.resumen"
              ></textarea>
            </label>
            <label for="descipcion">
              <p>Descripción:</p>
              <textarea
                id="descripcion"
                name="descripcion"
                [rows]="this.rows"
                [(ngModel)]="eventoModal.descripcion"
              ></textarea>
              <div id="previsualizacion"></div>
            </label>
            <div class="btns">
              <button id="editar-descripcion" (click)="editarDescripcion($event)">Editar</button>
              <button id="previsualizar-descripcion" (click)="previsualizarDescripcion($event)">Previsualizar</button>
            </div>
          </div>
          <div class="card-text">
            <small class="text-muted">Publicado {{ eventoModal.fecha }}</small>
            <div class="btns">
              <button id="save" (click)="save()">Save</button>
              <button id="cancel" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
