#buscador {
  display: flex;
  place-content: center;

  label {
    margin-right: .5rem;
    text-align: center;
    vertical-align: middle;
  }
}

.grid-container {
  margin: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: .5rem;
}

.card {
  transition: .5s;
  backface-visibility: hidden;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: center;
  padding: .25rem .5rem;
}

img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}
